@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.test {
    /*background: url("4.png") no-repeat;*/
    background-color: #1F1F27;
    height: 250vh;
    width: 100%;
}
.menu {
    width: 23%;
    height: 100vh;
    background: red;
    opacity: .5;
    display: inline-block;
}
.start {
    width: 70%;
    height: 32vh;
    background: linear-gradient(91deg, #6A55CC 0%, #6238E2 100%);
    display: inline-block;
    position: absolute;
    top: 23%;
    margin-left: 4%;
    border-radius: 50px;
}
h1 {
    font-family: 'Mulish', sans-serif;
    position: absolute;
    top: 10%;
    left: 27%;
    color: #fff;
    font-weight: 300;
    font-size: calc(25px + 0.390625vw);
}
h2 {
    font-family: 'Mulish', sans-serif;
    position: absolute;
    top: 15%;
    left: 27%;
    font-size: calc(30px + 0.390625vw);
    font-weight: 500;
    color: #fff;
    line-height: 100%;
}
.main {
    line-height: 250%;
    letter-spacing: -1.35px;
}
.start p {
    font-family: 'Mulish', sans-serif;
    /*margin: 6% 0 0 6%;*/
    margin: calc(35px + 1.5625vw) 0 0 calc(25px + 1.5625vw);
    font-size: calc(50px + 0.390625vw);
    font-weight: 700;
    color: #fff;
    line-height: 100%;
}
h3 {
    font-family: 'Mulish', sans-serif;
    /*margin: 3% 0 0 6%;*/
    margin: calc(5px + 1.5625vw) 0 0 calc(25px + 1.5625vw);
    font-size: calc(25px + 0.390625vw);
    font-weight: 500;
    color: #fff;
}
button {
    width: 175px;
    height: 50px;
    background: #1F1F27;
    border-radius: 10px;

    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 500;
    /*margin: 2.5% 0 0 6%;*/
    margin: calc(5px + 1.5625vw) 0 0 calc(25px + 1.5625vw);
    color: #fff;
    border: none;
}
img {
    width: 600px;
    height: 600px;
}
@media only screen and (max-width: 800px) {
    .menu {
        display: none;
    }
    .start {
        width: 90%;
    }
    h1 {
        top: 10%;
        left: 4%;
    }
    h2 {
        top: 15%;
        left: 4%;
    }
    .start {
        margin-top: 5%;
    }
}